* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    background-color: #1D1D1B;
    overflow-x: hidden; 
}

@font-face {
    font-family: EditorialNew;
    src: url(./fonts/EditorialNew-Light.ttf);
}

@font-face {
    font-family: Canopee;
    src: url(./fonts/Canopee.ttf);
}

@font-face {
    font-family: DomaineDispCond;
    src: url(./fonts/DomaineDispCondMedium.ttf);
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page1 {
    width: 100vw;
    height: 150vh;
    background-color: #c3bcb2;
    position: relative;
    overflow: hidden;

    .nav {
        width: 100%;
        height: 100px;
        padding: 2rem;
        @include flex;
        border-bottom: 1px solid #87827B;

        img {
            width: 30%;
            height: 1.5rem;
        }

        h5 {
            font-size: 0.8rem;
            font-weight: 100;
            width: 30%;
            font-family: EditorialNew;
        }

        i {
           font-size: 1.5rem;
           width: 30%;
           text-align: right;
        }
    }

    h1 {
        width: 96%;
        margin-left: 2%;
        font-size: 37vw;
        font-weight: 100;
        font-family: Canopee;
        line-height: 30vw;
        letter-spacing: -1.7rem;
        background-color: #1C1C1A;
        color: #C3BCB3;
        padding: 1rem;
    }

    .elems {
        // background-color: red;
        height: 60vh;
        padding: 40px 60px;
        @include flex;
    }

    .elem1 {
        width: 30%;
        height: 100%;
        // background-color: blue;

        .image-div {
            width: 100%;
            height: 60%;
            overflow: hidden;
            border: 1.5px solid #444;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all ease 0.5s;
            }

            &:hover img {
                scale: 1.1;
            }
        }

        h4 {
            font-size: 1.5rem;
            margin-top: 0.5rem;
            margin-bottom: 0.8rem;
            font-weight: 100;
            font-family: Canopee;
            color: #1C1C1A;

            span {
                background-color: #B83C12;
                color: #C4BAAF;
                font-family: Canopee;
                font-weight: 100;
                font-size: 1.5rem;
                border-radius: 4px;
                padding: 2px 4px;
                display: inline-block;
                margin-top: 0px;
                margin-left: 3px;
            }
        }

        p {
            font-family: EditorialNew;
            color: #3F3E3B;
        }
    }

    .elem2 {
        // background-color: blue;
        width: 30%;
        height: 100%;
        border-left: 1px solid #87827B;
        border-right: 1px solid #87827B;
        padding: 20px 60px;
        text-align: center;

        h2 {
            font-size: 4rem;
            font-weight: 100;
            font-family: Canopee;
            text-transform: uppercase;
            color: #222;
        }

        h3 {
            font-size: 2.1rem;
            font-weight: 100;
            font-family: EditorialNew;
            margin-top: 10px;
            color: #222;
        }

        h6 {
            font-size: 1.2rem;
            font-weight: 100;
            font-family: EditorialNew;
            margin-top: 20px;
            color: #3F3E3B;

            span {
                font-family: Canopee;
                color: #222;
            }
        }
    }

    .elem3 {
        width: 30%;
        height: 100%;
        // background-color: blue;

        .image-div {
            width: 100%;
            height: 60%;
            overflow: hidden;
            border: 1.5px solid #444;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all ease 0.5s;
            }

            &:hover img {
                scale: 1.1;
            }
        }

        h4 {
            font-size: 1.5rem;
            margin-top: 0.5rem;
            margin-bottom: 0.8rem;
            font-weight: 100;
            font-family: Canopee;
            color: #1C1C1A;

            span {
                background-color: #B83C12;
                color: #C4BAAF;
                font-family: Canopee;
                font-weight: 100;
                font-size: 1.5rem;
                border-radius: 4px;
                padding: 2px 4px;
                display: inline-block;
                margin-top: 0px;
                margin-left: 3px;
            }
        }

        p {
            font-family: EditorialNew;
            color: #3F3E3B;
        }
    }
}

.page2 {
    width: 100%;
    height: 145vh;
    background-color: #C2BBB2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.page2-left {
    width: 35%;
    height: 100%;
    padding-right: 3rem;
    border-right: 1px solid #555;
    color: #1C1C1A;
    
    h2 {
        font-size: 7.7rem;
        font-family: Canopee;
        line-height: 140px;
        font-weight: 500;
        letter-spacing: -10px;

        span {
            font-size: 13rem;
            font-family: Canopee;
        }
    }
    
    img {
        height: 40%;
        width: 100%;
        object-fit: cover;
        border: 1px solid #000;
    }
    
    p {
        font-size: 2rem;
        font-family: EditorialNew;
        margin-top: 2rem;
    }
}

.page2-right {
    width: 65%;
    height: 100%;
    padding: 0 3rem;
    color: #1C1C1A;

    img {
        height: 42%;
        width: 106%;
        object-fit: cover;
        border: 1px solid #000;
    }

    h1 {
        font-size: 6.9rem;
        font-family: Canopee;
        font-weight: 100;
        line-height: 6rem;
        letter-spacing: -3px;
        margin-top: 3rem;
    }
}

.page3 {
    height: 60vh;
    background-color: #C4BCB3;
    padding: 2rem;
    @include flex;

    h1 {
        width: fit-content;
        font-family: Canopee;
        font-size: 26rem;
        letter-spacing: -1rem;
        line-height: 20rem;
        font-weight: 100;
        padding: 2rem 2.5rem 0.5rem 1.5rem;
        background-color: #1C1C1A;
        color: #C4BCB3;
    }

    img {
        height: 56vh;
        padding: 0 0 0 ;
        left: 1rem;
    }
}

.page4 {
    // background-color: red;
    background-color: #BFB7AE;
    // opacity: 0.5;
    width: 100%;
    height: 150vh;
    color: rgb(29, 29, 27);
    padding: 2rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.page4-left {
    width: 65%;
    // background-color: blue;
    // opacity: 0.5;
    border-right: 1px solid #333;

    .elements {
        // background-color: green;
        // opacity: 0.5;
        height: 45vh;
        @include flex;

        .elements-left {
            width: 45%;
            height: 100%;
            border-right: 1px solid #333;
            // padding: 0 0.1rem 0 0;

            h2 {
                font-size: 3.5rem;
                font-weight: 400;
                line-height: 66px;
                font-family: Canopee;
            }
            
            h3 {
                font-size: 38px;
                font-weight: 300;
                line-height: 44px;
                font-family: EditorialNew;
                margin-top: 1rem;
            }
        
            h5 {
                font-family: 18px;
                font-weight: 300;
                line-height: 22px;
                margin-top: 2rem;
            
                span {
                        font-family: Canopee;
                }
            }
        }

        .elements-right {
            width: 55%;
            height: 100%;
            padding: 2rem;

            .imgHover {
                height: 25vh;
                width: 60vh;
                border: 1px solid #000;
                overflow: hidden;
                margin-top: -2rem;
                overflow: hidden;
            }

            img {
                width: 100%;
                height: 100%;  
                object-fit: cover;
                background-position: center;
                transition: all ease 0.5s;

                &:hover {
                    scale: 1.1;
                }
            }

            h5 {
                font-family: EditorialNew;
                font-size: 1.5rem;
                // line-height: 37px;
                margin-top: 1rem;
                font-weight: 900;
            }

            p {
                font-family: EditorialNew;
                font-size: 18px;
                line-height: 22px;
                margin-top: 1rem;
            }
        }
    }
    
    .img1 {
        height: 95vh;
        width: 130vh;
        padding-top: 2rem;
    }
}

.page4-right {
    // background-color: #C6BEB4;
    // opacity: 0.5;
    width: 35%;
    padding-left: 2rem;
    margin-top: 1rem;
    color: #1D1D1B;

    h1 {
        font-size: 6rem;
        font-weight: 100;
        line-height: 6rem;
        font-family: Canopee;

        span {
            font-size: 13.5rem;
            display: inline-block;
            margin-top: 3rem;
            font-weight: 100;
            line-height: 6rem;
            letter-spacing: -0.5rem;
            font-family: Canopee;
        }
    }

    p {
        font-size: 2rem;
        line-height: 2.3rem;
        font-family: EditorialNew;
        margin-top: 2rem;
    }

    .hoverEffect {
        margin-top: 1.5rem;
        width: 100%;
        height: 11rem;
        border: 1px solid ;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        overflow: hidden;
        
        &:hover img {
            transform: translateX(78%);
        }

        &:hover h1 {
            transform: translateX(140%);
        }

        h1 {
            font-size: 5rem;
            font-family: Canopee;
            width: 100%;
            height: 100%;
            // background-color: red;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateX(-30%); 
            transition: all ease 0.6s;
        }

        img {
            height: 8vh;
            transform: translateX(-120%);
            transition: all ease 0.6s;
        }
    }
}

.page5 {
    width: 100%;
    padding: 25px 0;
    background-color: #C6BEB5;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    h1 {
        font-size: 5rem;
        font-family: EditorialNew;
        font-weight: 100;
        display: inline-block;
        // background-color: aquamarine;
        margin-right: 30px;
        animation-name: scroll;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        span {
            font-family: Canopee;
            padding: 0 1rem;
            background-color: #1C1C19;
            color: #C2BBB2;
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.page6 {
    height: 100px;
    width: 100%;
    background-color: #C3BCB2;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(calc(-100% - 34px));
    }
}

.page5:hover h1 {
    animation-play-state: paused;
}