* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    background-color: #1D1D1B;
    overflow-x: hidden; 
}

@font-face {
    font-family: EditorialNew;
    src: url(./fonts/EditorialNew-Light.ttf);
}

@font-face {
    font-family: Canopee;
    src: url(./fonts/Canopee.ttf);
}

@font-face {
    font-family: DomaineDispCond;
    src: url(./fonts/DomaineDispCondMedium.ttf);
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page1 {
    width: 100vw;
    height: 150vh;
    background-color: #c3bcb2;
    position: relative;
    overflow: hidden;

    .nav {
        width: 100%;
        height: 100px;
        padding: 2rem;
        @include flex;
        border-bottom: 1px solid #87827B;

        img {
            width: 30%;
            height: 1.5rem;
        }

        h5 {
            font-size: 0.8rem;
            font-weight: 100;
            width: 30%;
            font-family: EditorialNew;
        }

        i {
           font-size: 1.5rem;
           width: 30%;
           text-align: right;
        }
    }

    h1 {
        width: 96%;
        margin-left: 2%;
        font-size: 37vw;
        font-weight: 100;
        font-family: Canopee;
        line-height: 30vw;
        letter-spacing: -1.7rem;
        background-color: #1C1C1A;
        color: #C3BCB3;
        padding: 1rem;
    }
}

.elems {
    // background-color: red;
    height: 60vh;
    padding: 40px 60px;
    @include flex;
}

.elem1 {
    width: 30%;
    height: 100%;
    // background-color: blue;

    .image-div {
        width: 100%;
        height: 60%;
        overflow: hidden;
        border: 1.5px solid #444;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all ease 0.5s;
        }

        &:hover img {
            scale: 1.1;
        }
    }
    
    h4 {
        font-size: 1.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.8rem;
        font-weight: 100;
        font-family: Canopee;
        color: #1C1C1A;

        span {
            background-color: #B83C12;
            color: #C4BAAF;
            font-family: Canopee;
            font-weight: 100;
            font-size: 1.5rem;
            border-radius: 4px;
            padding: 2px 4px;
            display: inline-block;
            margin-top: 0px;
            margin-left: 3px;
        }
    }

    p {
        font-family: EditorialNew;
        color: #3F3E3B;
    }
}

.elem2 {
    // background-color: blue;
    width: 30%;
    height: 100%;
    border-left: 1px solid #87827B;
    border-right: 1px solid #87827B;
    padding: 20px 60px;
    text-align: center;

    h2 {
        font-size: 4rem;
        font-weight: 100;
        font-family: Canopee;
        text-transform: uppercase;
        color: #222;
    }

    h3 {
        font-size: 2.1rem;
        font-weight: 100;
        font-family: EditorialNew;
        margin-top: 10px;
        color: #222;
    }

    h6 {
        font-size: 1.2rem;
        font-weight: 100;
        font-family: EditorialNew;
        margin-top: 20px;
        color: #3F3E3B;

        span {
            font-family: Canopee;
            color: #222;
        }
    }
}

.elem3 {
    width: 30%;
    height: 100%;
    // background-color: blue;

    .image-div {
        width: 100%;
        height: 60%;
        overflow: hidden;
        border: 1.5px solid #444;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all ease 0.5s;
        }

        &:hover img {
            scale: 1.1;
        }
    }

        h4 {
            font-size: 1.5rem;
            margin-top: 0.5rem;
            margin-bottom: 0.8rem;
            font-weight: 100;
            font-family: Canopee;
            color: #1C1C1A;
    
            span {
                background-color: #B83C12;
                color: #C4BAAF;
                font-family: Canopee;
                font-weight: 100;
                font-size: 1.5rem;
                border-radius: 4px;
                padding: 2px 4px;
                display: inline-block;
                margin-top: 0px;
                margin-left: 3px;
            }
        }
    
        p {
            font-family: EditorialNew;
            color: #3F3E3B;
        }
}

.page2 {
    width: 100%;
    height: 145vh;
    background-color: #C2BBB2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.page2-left {
    width: 35%;
    height: 100%;
    padding-right: 3rem;
    border-right: 1px solid #555;
    color: #1C1C1A;
    
    h2 {
        font-size: 7.7rem;
        font-family: Canopee;
        line-height: 140px;
        font-weight: 500;
        letter-spacing: -10px;

        span {
            font-size: 13rem;
            font-family: Canopee;
        }
    }
    
    img {
        height: 40%;
        width: 100%;
        object-fit: cover;
        border: 1px solid #000;
    }
    
    p {
        font-size: 2rem;
        font-family: EditorialNew;
        margin-top: 2rem;
    }
}

.page2-right {
    width: 65%;
    height: 100%;
    padding: 0 3rem;
    color: #1C1C1A;

    img {
        height: 42%;
        width: 106%;
        object-fit: cover;
        border: 1px solid #000;
    }

    h1 {
        font-size: 6.9rem;
        font-family: Canopee;
        font-weight: 100;
        line-height: 6rem;
        letter-spacing: -3px;
        margin-top: 3rem;
    }
}